*.md linguist-language=Markdown
*.py linguist-language=Python
*.html linguist-language=HTML
*.js linguist-language=JavaScript
*.cpp linguist-language=C++
*.scss linguist-language=SCSS
*.json linguist-language=JSON
*.yml linguist-language=YAML
*.java linguist-language=Java
*.rb linguist-language=Ruby
*.swift linguist-language=Swift
*.sh linguist-language=Shell
*.css linguist-language=CSS
*.rb linguist-language=Ruby
*.java linguist-language=Java
*.php linguist-language=PHP
*.swift linguist-language=Swift
*.go linguist-language=Go
*.rust linguist-language=Rust
*.dart linguist-language=Dart
*.tsx linguist-language=TypeScript
*.jsx linguist-language=JavaScript
